.product-card {
    min-width: 250px;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
    margin-inline: 10px;


    .product-img {
        position: relative;
        transition: 250ms ease-in-out;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            height: 290px;

            @include lg {
                height: 240px;
            }
        }

        .btn-theme {
            bottom: 0;
            position: absolute;
            width: 100%;
        }

        @include xl {
            .btn-theme {
                bottom: -70px;
            }

            &:hover {
                .card-menu {
                    right: 0;
                }

                .btn-theme {
                    bottom: 0;
                }

                .product-img {
                    background-color: $color-gray-5;
                }
            }
        }
    }

    .product-info {
        bottom: 0;
        background-color: $color-theme-white;
        width: 100%;
        padding-block: 1rem;
        display: grid;

        .category-title {
            font-size: $font-size-13;
            display: inline-block;
            margin-bottom: 0.5rem;
        }

        h4 {
            font-size: $font-size-16;
            font-weight: $font-w-semibold;
            margin-bottom: 0.5rem;
        }


    }

    .card-menu {
        position: absolute;
        padding: 0;
        top: 0.7rem;
        right: 0;
        display: flex;
        flex-direction: column;
        transition: 250ms ease-in-out;

        @include xl {
            right: -90px;
        }

        .menu-icon {
            margin: 5px 10px;
        }
    }

    .rating {
        display: inline-block;
        margin-bottom: 0.2rem;

        i {
            color: $theme-color;
        }
    }

    .old-price {
        text-decoration: line-through;
        font-size: $font-size-16;
        margin-top: 0;
        margin-right: 0.5rem;
        display: inline-block;
    }

    .new-price {
        font-size: $font-size-18;
        font-weight: $font-w-semibold;
        display: inline-block;
    }
}