.flash-sale {
    background-color: $color-theme-white;
    width: 100%;
    height: 100%;
    margin-block: 2rem;

    .flash-grid{
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr;
        gap:2rem;
        margin-block: 2rem;
        grid-template-areas: 
        "flashsale"
        "products";
        @include lg {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "flashsale products";
            &.reverse-grid {
                grid-template-areas: 
                "products flashsale";
            }
        }


        .flash-advert {
            grid-area: flashsale;
            background-color: $color-gray-10;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-block: 4rem;
            padding-inline: 1rem;

            h2 {
                color: $color-theme-white;
                font-size: $font-size-45;
                font-weight: $font-w-bold;
                text-shadow: 0 2px 4px $color-gray-15;
                margin-bottom: 1.5rem;
            }
        }
        .product-grid { 
            grid-area: products;
            display: grid;
            grid-template-columns: auto;
            grid-auto-rows: auto;
            gap: 1rem;
            justify-content: center;



            @include md {
                grid-template-columns: auto auto;
                justify-content: center;
                gap: 2rem;
            }
            @include lg {
                justify-content: start;

                &.grid-end {
                    justify-content: end;
                }
            }
            .product-card {
                display: grid;
                width: 250px;
                height: 330px;
                text-align: start;
    
                span {
                    font-size: $font-size-13;
                }
                h3 {
                    font-size: $font-size-16;
                    font-weight: $font-w-semibold;
                    margin-bottom: 0;
                }
                .ratings {
                    color: $color-theme;
    
                    i {
                        margin: 4px 4px 0 0;
                    }
                }
                .new-price {
                    font-size: $font-size-18;
    
                }
            }
        }

       

    }
}
