.flash-sale {
    background-color: $color-theme-white;
    width: 100%;
    margin-block: 4rem;

    .flash-grid{
        display: grid;
        height: 700px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap:2rem;


        .flash-advert {
            background-color: $color-gray-10;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            // max-width: 825px;


            h2 {
                color: $color-theme-white;
                font-size: $font-size-45;
                font-weight: $font-w-bold;
                text-shadow: 0 2px 4px $color-gray-15;
                margin-bottom: 1.5rem;
            }
        }
        .product-grid { 
            display: grid;
            grid-template-columns: 250px 250px;
            gap: 1rem;
            justify-content: start;
            max-width: 800px;

            .product-card {
                display: grid;
                width: 250px;
                height: 330px;
                text-align: start;
    
                span {
                    font-size: $font-size-13;
                }
                h3 {
                    font-size: $font-size-16;
                    font-weight: $font-w-semibold;
                    margin-bottom: 0;
                }
                .ratings {
                    color: $color-theme;
    
                    i {
                        margin: 4px 4px 0 0;
                    }
                }
                .new-price {
                    font-size: $font-size-18;
    
                }
            }
        }
       

    }
}
