footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-gray-1 ;
    border-top: 1px solid $color-gray-5;
    z-index: 1;

    a {
        margin: 0.5rem;
        text-decoration: none;
        color: $color-theme-black-1;
        transition: 200ms ease-in-out;

        &:hover {
            color: $color-theme;
        }
    }

    span {
        color: $color-gray-20;
        padding: 0;
        margin: 1rem 0 0 0;
    }
}