
.__main-menu {
    padding: 1rem;
    z-index: 1;
    @include md {
    padding: 2.5rem;
    position: fixed;
    width: 100%;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1680px;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        @include md {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .__logo {
            font-weight: $font-w-bold;
            font-size: $font-size-35;
            color: $color-theme-black-1;
            text-decoration: none;
            margin: 0;
            transition: 200ms ease-in-out;
    
            &:hover {
                color: $color-gray-20;
            }

        }

    
        .__menu-links {
            font-weight: $font-w-semibold;
            list-style: none;
            padding: 0;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            @include md {
                margin-bottom: 0;
            }
        }
    
        li {
            margin-inline: 0.5rem;
            // @include md {
            //     margin: 0 1rem 0 1rem;
            // }

            .__menu-link {
                color: $color-theme-black-1;
                text-decoration: none;
                color: $color-theme-black-1;
                transition: 200ms ease-in-out;
                &:hover {
                    color: $color-theme;
                }

            }
            .active {
                color: $color-theme;
            }

        }
    
    
    }
    
}
