.miniAd {
    .container {
        display: grid;
        justify-items: center;
        max-width: 1110px;
        box-shadow: $color-drop-shadow;

        span {
            color: $color-theme;
            font-size: $font-size-16;
            font-weight: $font-w-semibold;
            padding: 0.5rem 0;
        }
    }
}

.product {

    .container {
        max-width: 1110px;
        .product-body {
            display: grid;
            grid-template-columns: 1fr;
            padding-inline: 0.5rem;
            margin-bottom: 4rem;
            // width: 600px;
            margin-inline: auto;
            @include lg {
                grid-template-columns: repeat(2, 1fr);
                padding-inline: 0;
            }

            .product-img {
                max-width: 100%;
                height: 400px;
                background-color: $color-gray-1;
                // margin-inline: auto;

                @include lg {
                    height: 600px;
                    width: 500px;
                }
            }
            .product-info {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;

                h1 {
                    font-size: $font-size-24;
                    font-weight: $font-w-bold;
                    margin-bottom: 0;
                }

                .articleNr {
                    color: $color-gray-5;
                    font-size: $font-size-13;
                    margin-top: 0.5rem;
                }
                .rating {
                    margin-top: 0.5rem;
                    color: $theme-color;
                }

                .price {
                    margin-top: 0.5rem;
                    font-size: $font-size-16;
                    font-weight: $font-w-semibold;
                }

                .details {
                    margin-top: 0.5rem;
                    color:  $color-gray-15;
                    font-size: $font-size-16;
                }
                .product-form {
                    width: 100%;
                    .btn-secondary {
                        background-color: $color-theme-white;
                        border-radius: 0;
                        margin-inline: 0.5rem;
                        color: $color-theme-black-1;
    
                    }
                    .btn-check:active {
                        background-color: black;
                    }
                    h4 {
                        font-size: $font-size-16;
                        font-weight: $font-w-medium;
                        margin-top: 1rem;
                        width: 85px;
                    }
                    .choose-size {
                        display: flex;
                        align-items: center;
                        margin-top: 1rem;
                    }
                    .choose-color {
                        margin-top: 1rem;
                    }
                    .quanitity {
                        margin-top: 1rem;
                    }
                    .btn-theme {
                        width: 100%;
                        @include lg {
                            max-width: 220px;
                        }
                    }
                    .shareSocialMedia {
                        margin-top: 1rem;
                        display: flex;
                        align-items: center;
                        h4 {
                            margin: 0;
                        }
                        .icon-circle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 40px;
                            width: 40px;
                            background-color: $color-gray-1;
                            border-radius: 50%;
                            margin-inline: 0.6rem;
                            a {
                                text-decoration: none;
                                color: $color-theme-black-1;
                            }
                        }

                    }

                }


            }
            


        }
    }
}