.miniAd {
    .container {
        display: grid;
        justify-items: center;
        max-width: 1110px;
        box-shadow: $color-drop-shadow;

        span {
            color: $color-theme;
            font-size: $font-size-16;
            font-weight: $font-w-semibold;
            padding: 0.5rem 0;
        }
    }
}

.product {

    .container {
        max-width: 1110px;
        padding: 0 0.5rem;


        .product-body {
            display: grid;
            grid-template-columns: 1fr;
            // padding-inline: 0.5rem;
            margin-bottom: 4rem;
            // width: 600px;
            // margin-inline: auto;
            @include lg {
                grid-template-columns: repeat(2, 1fr);
                padding-inline: 0;
            }

            .product-img {
                max-width: 100%;
                height: 400px;
                background-color: $color-gray-1;
                // margin-inline: auto;

                @include lg {
                    height: 600px;
                    width: 500px;
                }
            }
            .product-info {
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;

                @include md {
                    align-items: start;
                }

                h1 {
                    font-size: $font-size-24;
                    font-weight: $font-w-bold;
                    margin-bottom: 0;
                }

                .articleNr {
                    color: $color-gray-5;
                    font-size: $font-size-13;
                    margin-top: 0.5rem;
                }
                .rating {
                    margin-top: 0.5rem;
                    color: $theme-color;
                }

                .price {
                    margin-top: 0.5rem;
                    font-size: $font-size-16;
                    font-weight: $font-w-semibold;
                }

                .details {
                    margin-top: 0.5rem;
                    color:  $color-gray-15;
                    font-size: $font-size-16;
                }
                .product-form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    .btn-secondary {
                        background-color: $color-theme-white;
                        border-radius: 0;
                        margin-inline: 0.5rem;
                        color: $color-theme-black-1;
    
                    }
                    .btn-check:active {
                        background-color: black;
                    }
                    h4 {
                        font-size: $font-size-16;
                        font-weight: $font-w-medium;
                        margin-top: 1rem;
                        width: 85px;
                    }
                    .choose-size {
                        display: flex;
                        align-items: center;
                        margin-top: 1rem;
                    }
                    .choose-color {
                        margin-top: 1rem;
                    }

                    .quantity {
                        margin-top: 1rem;
                        

                        @include lg {
                            display: flex;
                            height: 50px;
                        }
                        
                        .qtyCounter {
                            display: inline-block;
                            height: 50px;
                            border: 1px solid black;
                            overflow: hidden;
                            .add {
                                border-left: 1px solid black;
                                background-color: $color-theme-white;
                                overflow: hidden;
                                width: 40px;
                                height: 100%;
                                font-size: $font-size-20;
                                font-weight: $font-w-semibold
                            }

                            .output {
                                display: inline-block;
                                font-weight: $font-w-bold;
                                text-align: center;
                                width: 50px;
                                height: 100%;
                                
                            }

                            .sub {
                                border-right: 1px solid black;
                                background-color: $color-theme-white;
                                overflow: hidden;
                                width: 40px;
                                height: 100%;
                                font-size: $font-size-20;
                                font-weight: $font-w-semibold;
                            }
                        }

                        .btn-theme {
                            min-height: 50px;
                            width: 100%;
                            @include lg {
                                max-width: 220px;
                            }
                        }

                    }

                    .shareSocialMedia {
                        margin-top: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        max-width: 400px;

                        h4 {
                            margin: 0;
                        }
                        .icon-circle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 40px;
                            width: 40px;
                            background-color: $color-gray-1;
                            border-radius: 50%;
                            // margin-inline: 0.4rem;
                            a {
                                text-decoration: none;
                                color: $color-theme-black-1;
                            }
                        }

                    }

                }


            }
            


        }
    }
}