.showcase {
    padding-top: 80px;
    background-image: linear-gradient(90deg, $color-gradient-dark, $color-gradient-light);
    margin-bottom: 4rem;

    .showcaseWrap {
        position: relative;
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        //hides one image on smaller screens
        #hide-img {
            display: none;
        }

        // media query desktop
        @include lg {
            margin-inline: auto;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            max-width: 90%;

            img {
                max-width: 60%;
            }

            #hide-img {
                display: block;
            }
        }
    }

    .showcase-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: absolute;
        max-width: 500px;
        top: 20%;

        // media query tablet and desktop
        @include md {
            max-width: 500px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            font-size: $font-size-35;
            font-weight: $font-w-extrabold;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
            padding: 0;
            display: block;

            // media query tablet and desktop
            @include md {
                font-size: $font-size-65
            }

            span {
                display: block;
                text-transform: initial;
                font-size: $font-size-16;
                font-weight: $font-w-regular;

                // media query tablet and desktop
                @include md {
                    font-size: $font-size-20;
                    padding: 1rem;
                }
            }
        }
    }
}