@import '../cores/breakpoints';

html {
    height: 100%;
}

body {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 80px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


button {
    border: none;
    outline: none;
}

ul {
    padding-bottom: 0;
    margin-bottom: 0;
}

.bg-theme {
    background-color: $color-theme;
}

.section-title {
    font-weight: $font-w-bold;
    margin-bottom: 4rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;

}


.container-fluid {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
}

.container {
    padding: 0;
    margin: 0 auto;

    //media query for tablets
    @include md {
        max-width: 1110px;
    }

    //media query for desktop
    @include lg {
        max-width: 1600px;
    }
}

.break {
    flex-basis: 100%;
    height: 0;
}


.d-grid-2 {
    display: grid;
    grid-template-columns: 1fr;

    //media query for desktop
    @include lg {
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

.relative {
    position: relative;
}