$theme-color: #FF7373;
$color-theme: #FF7373;
$color-theme-hover: #d35858;
$color-theme-black-1: #222529;
$color-theme-white: #FFF;
$color-theme-link: #6794C2;
$color-theme-light-blue: #F7F8FA;
$color-theme-success: #32c06d;

$color-gray-1: #F5F5F5;
$color-gray-5: #CDCED0;
$color-gray-10: #BBBBBB;
$color-gray-15: #7E7F80;
$color-gray-20: #616365;

$color-gradient-light: #F5F5F5;
$color-gradient-dark: #e6e6e6;
$color-drop-shadow: 0 0 11px 2px rgba(0, 0, 0, 6%);

$font-fam: 'Poppins', sans-serif;
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semibold: 600;
$font-w-bold: 700;
$font-w-extrabold: 800;
$font-size-13: 0.813rem;
/*category-title */
$font-size-14: 0.875rem;
$font-size-16: 1rem;
/*standard size*/
$font-size-18: 1.125rem;
/* price size */
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-35: 2.188rem;
$font-size-45: 2.813rem;
/* mid size content title  */
$font-size-65: 4.063rem;
/* sale title size */

$max-width: 1680px;